.contact main {
  position: relative;
}
.contact main .contact-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -9%;
  left: 0;
  pointer-events: none;
}
.contact main .contact-header h1 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 100;
  color: rgb(221, 170, 31);
  font-size: 35px;
}
.contact .contact-section {
  width: 75%;
  display: flex;
  justify-content: space-between;
  margin: 100px auto;
  margin-bottom: 100px;
}
.contact .contact-section .left-section {
  flex: 0.4;
}
.contact .contact-section .left-section img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contact .contact-section .right-section {
  flex: 0.6;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.contact .contact-section .right-section .content {
  font-family: poppins;
  width: 70%;
  font-size: 13px;
  font-weight: 300;
}
.contact .contact-section .right-section .content .text {
  text-align: center;
  margin-bottom: 20px;
  line-height: 25px;
}
.contact .contact-section .right-section .content .text .span-1 {
  overflow: hidden;
  height: 15px;
  position: relative;
}
.contact .contact-section .right-section .content .text .span-1 a {
  color: black;
  position: relative;
  transition: 0.3s all ease-in-out;
}
.contact .contact-section .right-section .content .text .span-1 .bar {
  position: absolute;
  z-index: -1;
  left: -1px;
  bottom: 0%;
  height: 1px;
  width: 172px;
  background: rgb(221, 170, 31);
  transform-origin: bottom;
  transition: 0.3s all ease-in-out;
}
.contact .contact-section .right-section .content .text .span-1:hover a {
  color: white;
}
.contact .contact-section .right-section .content .text .span-1:hover .bar {
  height: 20px;
}
.contact .contact-section .right-section .content .text .span-1::after {
  content: ".";
  position: absolute;
  top: -10%;
  right: -2%;
  font-family: poppins;
  font-weight: 300;
}
.contact .contact-section .right-section .content .text .span-2 {
  overflow: hidden;
  height: 15px;
  position: relative;
}
.contact .contact-section .right-section .content .text .span-2 a {
  color: black;
  position: relative;
  transition: 0.3s all ease-in-out;
}
.contact .contact-section .right-section .content .text .span-2 .bar {
  position: absolute;
  z-index: -1;
  left: -1px;
  bottom: 0%;
  height: 1px;
  width: 166px;
  background: rgb(221, 170, 31);
  transform-origin: bottom;
  transition: 0.3s all ease-in-out;
}
.contact .contact-section .right-section .content .text .span-2:hover a {
  color: white;
}
.contact .contact-section .right-section .content .text .span-2:hover .bar {
  height: 20px;
}
.contact .contact-section .right-section .content .text.italic {
  font-style: italic;
}
.contact .contact-section .right-section form {
  font-family: poppins;
  width: 70%;
  font-size: 13px;
  font-weight: 300;
  margin-top: 50px;
}
.contact .contact-section .right-section form input {
  border: none;
  border-bottom: 1px solid rgb(221, 170, 31);
  padding: 0 15px;
  padding-bottom: 3px;
  font-family: inherit;
  background: none;
  width: 100%;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 25px;
}
.contact .contact-section .right-section form input::-moz-placeholder {
  color: rgba(221, 170, 31, 0.932);
  font-size: 13px;
}
.contact .contact-section .right-section form input::placeholder {
  color: rgba(221, 170, 31, 0.932);
  font-size: 13px;
}
.contact .contact-section .right-section form .contain {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact .contact-section .right-section form .contain input {
  width: 48%;
}
.contact .contact-section .right-section form textarea {
  background: none;
  outline: none;
  border: none;
  padding: 0 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(221, 170, 31);
  resize: none;
  font-family: inherit;
  width: 100%;
  font-weight: 300;
  margin-bottom: 25px;
  font-size: 12px;
}
.contact .contact-section .right-section form textarea::-moz-placeholder {
  color: rgba(221, 170, 31, 0.932);
  text-transform: uppercase;
  font-size: 13px;
}
.contact .contact-section .right-section form textarea::placeholder {
  color: rgba(221, 170, 31, 0.932);
  text-transform: uppercase;
  font-size: 13px;
}
.contact .contact-section .right-section form button {
  outline: none;
  border: none;
  background: rgb(219, 169, 32);
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  font-family: inherit;
}
.contact.dark-mode main .contact-header h1 {
  color: rgb(255, 197, 39);
}
.contact.dark-mode .contact-section .right-section .content {
  color: white;
}
.contact.dark-mode .contact-section .right-section .content .text .span-1 a {
  color: white;
  z-index: 10;
}
.contact.dark-mode .contact-section .right-section .content .text .span-1 .bar {
  position: absolute;
  z-index: 1;
}
.contact.dark-mode .contact-section .right-section .content .text .span-1:hover a {
  color: black;
}
.contact.dark-mode .contact-section .right-section .content .text .span-1:hover .bar {
  height: 20px;
}
.contact.dark-mode .contact-section .right-section .content .text .span-1::after {
  content: ".";
  position: absolute;
  top: -10%;
  right: -2%;
  font-family: poppins;
  font-weight: 300;
}
.contact.dark-mode .contact-section .right-section .content .text .span-2 a {
  color: white;
  z-index: 10;
}
.contact.dark-mode .contact-section .right-section .content .text .span-2 .bar {
  position: absolute;
  z-index: 1;
  bottom: 0%;
}
.contact.dark-mode .contact-section .right-section .content .text .span-2:hover a {
  color: black;
}
.contact.dark-mode .contact-section .right-section .content .text .span-2:hover .bar {
  height: 20px;
}
.contact.dark-mode .contact-section .right-section .content .text.italic {
  font-style: italic;
}
.contact.dark-mode .contact-section .right-section form input {
  color: white;
}
.contact.dark-mode .contact-section .right-section form input::-moz-placeholder {
  color: rgba(221, 170, 31, 0.527);
  font-size: 13px;
}
.contact.dark-mode .contact-section .right-section form input::placeholder {
  color: rgba(221, 170, 31, 0.527);
  font-size: 13px;
}
.contact.dark-mode .contact-section .right-section form textarea {
  color: white;
}
.contact.dark-mode .contact-section .right-section form textarea::-moz-placeholder {
  color: rgba(221, 170, 31, 0.527);
  font-size: 13px;
}
.contact.dark-mode .contact-section .right-section form textarea::placeholder {
  color: rgba(221, 170, 31, 0.527);
  font-size: 13px;
}
.contact.dark-mode .contact-section .right-section form button {
  background: rgb(136, 102, 7);
}
@media only screen and (max-width: 576px) {
  .contact main .contact-header {
    bottom: -11%;
    left: 0;
  }
  .contact main .contact-header h1 {
    font-weight: 100;
    font-size: 33px;
  }
  .contact .contact-section {
    flex-direction: column;
    margin-top: 60px;
    width: 90%;
  }
  .contact .contact-section .right-section {
    margin-top: 30px;
  }
  .contact .contact-section .right-section .content {
    width: 100%;
  }
  .contact .contact-section .right-section form {
    width: 100%;
  }
  .contact .contact-section .right-section form .contain {
    flex-direction: column;
    align-items: flex-start;
  }
  .contact .contact-section .right-section form .contain input {
    width: 100%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .contact .contact-section .right-section .content {
    width: 80%;
  }
  .contact .contact-section .right-section form {
    width: 80%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .contact .contact-section .right-section .content {
    width: 80%;
  }
  .contact .contact-section .right-section form {
    width: 80%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .contact .contact-section .right-section .content {
    width: 80%;
  }
  .contact .contact-section .right-section form {
    width: 80%;
  }
}/*# sourceMappingURL=Contact.css.map */