@import url("https://fonts.googleapis.com/css2?family=Allura&family=Cormorant+Garamond:wght@300;400;500;600&family=Dancing+Script:wght@400;500;600&family=Nothing+You+Could+Do&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Work+Sans:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-yellow: rgb(255, 208, 0);
  --bg-light-yellow: rgb(235, 224, 164);
  --text-color: rgb(165, 165, 165);
}

::selection {
  background: rgb(218, 201, 104);
}

body {
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

input {
  text-decoration: none;
  outline: none;
}

button {
  outline: none;
}

a {
  text-decoration: none;
}
