.comment-blog-container {
  width: 100%;
  background: rgb(255, 235, 121);
  padding: 50px;
  margin-top: 80px;
  padding-top: 30px;

  h1 {
    padding: 0;
    width: 90%;
    margin: auto;
    text-align: center;
    font-family: "Cormorant Garamond", serif;
    font-weight: 100;
    color: rgb(146, 115, 28);
    font-size: 23px;
    margin-bottom: 25px;
  }

  .text-area {
    .input-text {
      padding: 20px;
      width: 100%;
      background: rgb(253, 251, 239);
      outline: none;
      border: none;
      padding: 10px 15px;
      padding-bottom: 5px;
      resize: none;
      font-family: poppins;
      width: 100%;
      font-weight: 300;
      font-size: 13px;

      &::placeholder {
        color: rgba(221, 170, 31, 0.932);
        font-size: 14px;
      }
    }

    .form {
      background: rgb(255, 238, 145);
      padding: 20px 30px;
      transform: translateY(-100%);
      display: none;
      z-index: -100;

      &.active {
        display: block;
        transform: translateY(0%);
        z-index: 1;
      }

      p {
        color: rgb(146, 115, 28);
        font-size: 13px;
      }

      .inp {
        border: 1px solid rgb(221, 170, 31);
        border: none;
        padding: 8px 15px;
        font-family: inherit;
        background: rgb(253, 251, 239);
        width: 100%;
        font-size: 13px;
        font-weight: 300;
        margin-top: 25px;

        &::placeholder {
          color: rgba(221, 170, 31, 0.932);
          font-size: 13px;
        }
      }

      .input {
        display: flex;
        width: 100%;
        align-items: center;
        margin-top: 20px;

        input {
          cursor: pointer;
        }

        .content {
          font-size: 12px;
          padding-left: 10px;
          color: rgb(146, 115, 28);
        }
      }
    }

    button {
      border: none;
      font-family: poppins;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
      background: rgb(233, 184, 49);
      color: white;
      margin-top: 10px;
      font-size: 12px;
    }
  }

  .comments {
    margin-top: 50px;
    background: rgb(253, 251, 239);
    padding: 30px 40px;
    padding-top: 15px;

    h1 {
      color: rgb(201, 161, 53);
      font-size: 25px;
    }

    .cmt-container {
      max-height: 400px;
      overflow: auto;

      .comment-text {
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid rgba(168, 155, 82, 0.171);
        background: white;
        position: relative;

        .details {
          font-size: 11px;
          font-family: "Work Sans", sans-serif;
          text-transform: uppercase;
          // margin-top: 20px;
          margin-bottom: 5px;
          color: rgb(218, 200, 102);
          letter-spacing: 1px;

          a {
            color: rgb(185, 170, 86);
            cursor: default;

            &.admin {
              color: rgb(198, 0, 0);
            }
          }

          span {
            cursor: pointer;

            &:hover {
              color: rgb(185, 170, 86);
            }
          }
        }

        p {
          font-size: 12px;
          font-family: poppins;
          padding: 0;
          margin: 0;
        }

        button {
          border: none;
          font-family: poppins;
          padding: 5px 10px;
          border-radius: 5px;
          cursor: pointer;
          background: rgb(233, 184, 49);
          color: white;
          margin-top: 10px;
          margin-bottom: 20px;
          font-size: 12px;
        }

        .text-area {
          margin-top: 20px;
        }

        .del {
          position: absolute;
          top: 0%;
          right: 5%;
          display: none;

          svg {
            margin-top: 10px;
            color: rgb(255, 76, 76);
            cursor: pointer;
          }
        }

        &:hover {
          .del {
            display: block;
          }
        }
      }
    }
  }

  &.dark-mode {
    background: rgb(143, 123, 12);

    h1 {
      color: rgb(255, 211, 88);
    }

    .text-area {
      .input-text {
        background: rgba(0, 0, 0, 0.603);
        color: white;

        &::placeholder {
          color: rgba(221, 170, 31, 0.932);
          font-size: 14px;
        }
      }

      .form {
        background: rgba(0, 0, 0, 0.411);

        &.active {
          display: block;
          transform: translateY(0%);
          z-index: 1;
        }
        p {
          color: rgb(219, 172, 42);
        }

        .inp {
          border: 1px solid rgb(221, 170, 31);
          border: none;
          color: white;
          background: rgba(0, 0, 0, 0.603);

          &::placeholder {
            color: rgba(221, 170, 31, 0.932);
            font-size: 13px;
          }

          &::placeholder {
            color: rgba(221, 170, 31, 0.932);
            font-size: 13px;
          }
        }

        .input {
          display: flex;
          width: 100%;
          align-items: center;
          margin-top: 20px;

          input {
            cursor: pointer;
          }

          .content {
            font-size: 12px;
            padding-left: 10px;
            color: rgb(219, 172, 42);
          }
        }
      }
    }

    .comments {
      background: rgba(0, 0, 0, 0.603);

      h1 {
        color: rgb(201, 161, 53);
      }

      .cmt-container {
        .comment-text {
          border: 1px solid rgba(168, 155, 82, 0.577);
          background: rgb(66, 49, 0);

          .details {
            color: rgb(218, 200, 102);
          }

          p {
            color: white;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 576px) {
    & {
      padding: 20px;
      padding-top: 30px;

      .comments {
        padding: 20px 15px;
        padding-top: 15px;

        .cmt-container {
          .comment-text {
            margin-bottom: 10px;

            .details {
              font-size: 9px;
            }

            p {
              font-size: 10px;
            }

            button {
              padding: 5px 8px;
              font-size: 10px;
            }

            .del {
              svg {
                font-size: 14px;
              }
            }
          }
        }
      }

      &.dark-mode {
        .comments {
          padding: 20px 15px;
          padding-top: 15px;

          .cmt-container {
            .comment-text {
              margin-bottom: 10px;

              .details {
                font-size: 9px;
              }

              p {
                font-size: 10px;
              }

              button {
                padding: 5px 8px;
                font-size: 10px;
              }

              .del {
                svg {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}
